// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #006edb !default;
$black: #000 !default;
$green: #81be1c !default;
$brown-900: #543b23 !default;
$brown-100: #846954 !default;
$white-green: #dfdfd4 !default;
$apple-green: #a5d74d !default;
$primary: $green !default;
