.ht-4 {
    border: 3px solid $apple-green;
}

.green {
    color: $green;
}

.apple-green {
    color: $apple-green;
}

.brown {
    color: $brown-900;
}

.stroke-white-1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $white;
}

.btn-primary {
    background-color: $green !important;
    border-color: $green !important;
    &:active,
    &:focus,
    &:hover {
        background-color: darken($green, 7.5%) !important;
        border-color: darken($green, 7.5%) !important;
        color: white;
    }
    &:active,
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
    }
}

// Styling for the modelhouse section
#modelhouse {
    .modelhouse-item {
        right: 0;
        margin: 0 0 15px;
        .modelhouse-link {
            position: relative;
            display: block;
            max-width: 400px;
            margin: 0 auto;
            cursor: pointer;
            .modelhouse-hover {
                position: absolute;
                background-color: $apple-green !important;
                width: 100%;
                height: 100%;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                transition: all ease 0.5s;
                opacity: 0;
                // background: fade-out($primary, 0.1);
                &:hover {
                    opacity: 1;
                }
                .modelhouse-hover-content {
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    height: 20px;
                    margin-top: -12px;
                    text-align: center;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }
            }
        }
        .modelhouse-caption {
            max-width: 400px;
            margin: 0 auto;
            padding: 25px;
            text-align: center;
            background-color: $white;
            h4 {
                margin: 0;
                text-transform: none;
            }
            p {
                font-size: 16px;
                font-style: italic;
                margin: 0;
                @include serif-font;
            }
        }
    }
    * {
        z-index: 2;
    }
}
@media (min-width: 767px) {
    #modelhouse {
        .modelhouse-item {
            margin: 0 0 30px;
        }
    }
}

.modelhouse-modal {
    .modal-dialog {
        margin: 1rem;
        max-width: 100vw;
    }
    .modal-content {
        padding: 100px 0;
        text-align: center;
        h2 {
            font-size: 3em;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 30px;
        }
        p.item-intro {
            font-size: 16px;
            font-style: italic;
            margin: 20px 0 30px;
            @include serif-font;
        }
        ul.list-inline {
            margin-top: 0;
            margin-bottom: 30px;
        }
        img {
            margin-bottom: 30px;
        }
        button {
            cursor: pointer;
        }
    }
    .close-modal {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 75px;
        height: 75px;
        cursor: pointer;
        background-color: transparent;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            /* Safari and Chrome */
            z-index: 1051;
            width: 1px;
            height: 75px;
            margin-left: 35px;
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            background-color: $gray-900;
            .rl {
                /* Safari and Chrome */
                z-index: 1052;
                width: 1px;
                height: 75px;
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                background-color: $gray-900;
            }
        }
    }
}
