// Styling for the masthead
header.masthead {
    text-align: center;
    color: white;

    .cover-bg {
        background-image: url("../img/bg-large.jpg");
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -9;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
    }
    .cover-bg:after {
        content: "\A";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgb(255, 255, 255);
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(228, 228, 228, 1) 0%,
            rgba(4, 87, 25, 1) 28%
        );
        opacity: 0.4;
    }

    .intro-text {
        padding-top: 150px;
        padding-bottom: 100px;
        .intro-lead-in {
            font-size: 22px;
            font-style: italic;
            line-height: 22px;
            margin-bottom: 25px;
            @include serif-font;
        }
        .intro-heading {
            font-size: 50px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 25px;
            @include heading-font;
        }
    }
}

@media (min-width: 768px) {
    header.masthead {
        .intro-text {
            padding-top: 300px;
            padding-bottom: 200px;
            .intro-lead-in {
                font-size: 40px;
                font-style: italic;
                line-height: 40px;
                margin-bottom: 25px;
                @include serif-font;
            }
            .intro-heading {
                font-size: 75px;
                font-weight: 700;
                line-height: 75px;
                margin-bottom: 50px;
                @include heading-font;
            }
        }
    }
}
